---
import Layout from '../layouts/layout.astro';
import Header from '../components/header.astro';
import About from '../components/about.astro';
import Passion from '../components/passion.astro';
import Projects from '../components/projects.astro';
import Footer from '../components/footer.astro';
import Contact from '../components/contact.astro';
---

<Layout title="GKushi - Software Developer">
  <Header />
  <main>
    <About />
    <Projects />
    <Passion />
    <Contact />
  </main>
  <Footer />
</Layout>
