<div class="bg-[image:url('/src/assets/about/bg-text.svg')] bg-[size:1800px_506px] bg-[position:-100px_center] bg-repeat-x px-6">
  <div class="mx-auto w-full max-w-7xl space-y-5 py-10 md:space-y-10 md:py-24">
    <h2 class="text-lg font-black text-secondary sm:text-3xl md:text-5xl md:leading-normal">Programowanie w moim życiu.</h2>
    <div class="space-y-5 md:text-3xl">
      <p>Od najmłodszych lat fascynuje mnie tworzenie czegoś z niczego za pomocą kodu. Już jako dziecko spędzałem godziny przed komputerem, ucząc się podstaw programowania i tworząc proste gry oraz aplikacje.</p>
      <p>Ta pasja sprawiła, że zacząłem programować zawodowo jeszcze przed ukończeniem szkoły średniej. Uwielbiam wyzwania i możliwość ciągłego rozwoju, a programowanie daje mi nieskończone możliwości odkrywania nowych technologii i rozwiązań.</p>
      <p>Każdą wolną chwilę poświęcam na realizację nowych projektów i pogłębianie wiedzy w dziedzinie informatyki.</p>
    </div>
  </div>
</div>
