---
import { Image } from 'astro:assets';
import LinkedinLogo from '../assets/linkedin.png';
import GithubLogo from '../assets/github-mark.svg?raw';
---

<div
  class="bg-[image:url('/src/assets/header/circles-gray.svg')] bg-[size:450px] bg-[position:calc(50%+300px)_center] bg-no-repeat px-6 md:bg-[image:url('/src/assets/header/circles-gray.svg'),_url('/src/assets/header/bg-text.svg')] md:bg-[size:850px,_3000px_700px] md:bg-[position:calc(50%+450px)_center,_-100px_center] xl:bg-[image:url('/src/assets/header/circles-primary.svg'),_url('/src/assets/header/bg-text.svg')] xl:bg-[position:calc(50%+950px)_center,_-100px_center]"
>
  <div class="mx-auto w-full max-w-7xl space-y-14 py-12 pb-28 sm:space-y-20">
    <header class="flex items-center justify-between">
      <div class="text-2xl font-bold text-secondary md:text-4xl">GKushi</div>
      <ul class="flex gap-4">
        <li>
          <a href="https://github.com/GKushi" target="_blank"><Fragment set:html={GithubLogo} /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/kasper-gaworski" target="_blank"><Image src={LinkedinLogo} alt="LinkedIn Logo" width={28} height={24} /></a>
        </li>
      </ul>
    </header>
    <div class="space-y-16 md:space-y-20">
      <div class="space-y-10 md:space-y-16">
        <h1 class="h-full text-4xl font-bold sm:text-6xl md:text-8xl">
          <span class="leading-tight">Cześć, jestem<br /><span class="text-secondary">GKushi</span>!</span>
        </h1>
        <p class="md:text-3xl">
          Programowanie to nie tylko moja praca - to moja<br class="hidden min-[450px]:block" /> pasja i sposób na życie.
        </p>
      </div>
      <div class="flex flex-col gap-5 sm:flex-row sm:items-center sm:gap-10">
        <a href="#contact" class="block w-max rounded-2xl bg-secondary px-6 py-3 text-background hover:bg-opacity-80 md:px-12 md:py-6 md:text-2xl">Napisz do mnie</a>
        <a href="#portfolio" class="block pl-3 text-secondary hover:bg-opacity-80 md:text-2xl">Zobacz portfolio →</a>
      </div>
    </div>
  </div>
</div>
