<div class="bg-[image:url('/src/assets/passion/bg-text.svg')] bg-[size:3300px_506px] bg-[position:-1000px_center] bg-repeat-x px-6">
  <div class="mx-auto w-full max-w-7xl space-y-5 py-10 md:space-y-10 md:py-24">
    <h2 class="text-lg font-black text-secondary sm:text-3xl md:text-5xl md:leading-normal">Moja druga pasja.</h2>
    <div class="space-y-5 md:text-3xl">
      <p>
        Poza programowaniem, moją największą pasją jest motoryzacja. Spędzam wiele godzin w warsztacie, pracując nad swoim samochodem. Zanurzam się w mechanice, odkrywając, jak każdy element wpływa na całość. Modernizuję, naprawiam i udoskonalam—dzięki temu
        nie tylko mój pojazd staje się lepszy, ale i ja zdobywam nowe umiejętności.
      </p>
      <p>
        Praca nad autem to dla mnie sposób na relaks i odskocznię od świata wirtualnego. Uczucie satysfakcji po udanej naprawie czy modyfikacji jest nieporównywalne. Wierzę, że precyzja i dbałość o szczegóły, które są niezbędne w mechanice, przekładają się
        również na moje podejście do programowania. Obie dziedziny wymagają cierpliwości, kreatywności i ciągłego doskonalenia.
      </p>
    </div>
  </div>
</div>
